

@media (max-width:767px){
    .center{
    padding-left: 16px;
    padding-right: 16px;
            }
    .top{
    background-image: url(img/Компонентыmob.svg);
    background-repeat: no-repeat;
    background-position-x: 35px;
    background-position-y: -108px;
    height: 700px;}
    .button{
    padding-top: 36px;
    display: flex;
    justify-content: center;
    &__b{
    width: 285px;
    height: 55px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 300%;
    letter-spacing: 0%;
    text-align: center;
     &:hover{
    color: rgb(255, 255, 255);
     }
    &:hover{
    background-color: rgb(32, 32, 39);}}
     
    }
    .head{
    align-items: center;
    &__h1{
    font-size: 40px;
    text-align: center;
    width: 262px;
    line-height: 49px;
    padding-top: 139px;
    }
    &__p{
        width: 296px;
        font-size: 16px;
        text-align: center;
        line-height: 20px;
    }
    }
.content{
display: none;
}
.minigames{
    height: 3510px;
    align-items: center;
}
.headgame{
width: 250px;
font-size: 40px;
line-height: 49px;
margin-bottom: 16px;
margin-top: 48px;
margin-right: 80px;
}
.game{
width: 315px;
height: 510.63px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
&__img{
width: 315px;
height: 284.93px;
}
}
.game1{
    width: 315px;
    height: 528.63px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.gamecard2{
gap: 14px;
padding: 16px;
&__h{
width: 284.93px;
font-size: 32px;
line-height: 39px;
}
&__p{
width: 244px;
font-size: 16px;
line-height: 20px;
padding-right: 0px;
}
&__a{
width: 226px;
height: 30px;
padding: 16px 28px 16px 28px;
font-size: 16px;
}
}

.armobi{
    height: 261.93px; 
}
.vicmob{
    height: 495.63px;
}
.knbmob{
    height: 557.63px;
}
.genmob{
    height: 566.63px;
}
.kamb{
    padding-right: 0px;
}
.footer{
height: 100px;
&__p{    
font-size: 16px;
font-weight: 600;
padding-top: 34px;
}
}
}
